* {
    font-family: 'Noto Serif TC', serif;
    font-weight: 400;
    font-size: 16px;
    padding: 10px;
}

body::-webkit-scrollbar {
    display: none;
}
body{
    -ms-overflow-style: none;
}
body div {
    width:100%;
}
.test {
    border: 1px solid black;
}
.flex-container {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.my-nav {
    display: flex;
}

.my-nav li {
    display: inline-block;
}

.my-nav li a {
    border-radius: 10px;
    color: black;
}

.my-nav-blog {
    display: flex;
}

.my-nav-blog li {
    display: inline-block;
}

.my-nav-blog li a {
    border-radius: 10px;
    color: black;
}

.my-content {
    padding: 16px;
}

.my-content h4 {
    opacity: 0.9;
}

.my-link {
    display: flex;
}

.my-link li {
    display: inline-block;
}

.my-link li a i {
    border-radius: 10px;
    font-size: 36px;
    color: black;
}

.my-link li a i:hover {
    background-color: black;
    color: whitesmoke;
}

.my-footer {
    display: flex;
}

.add-bottom-line {
    border-top: 5px solid black;
}
.add-thin-bottom-line{
    border-top: 1px solid LightGray;
}
.image {
    max-width: 100%;
}
.blog-title {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    /* border: 1px solid black; */
}

.blog-date {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 0px;
    /* border: 1px solid black; */
}
.blog-link{
    font-size: 24px;
}
.link{
    font-size: 24px;
}
@media only screen and (max-width: 576px) {
    .blog-date {
        justify-content: flex-start;
    }
    .blog-link{
        font-size: 16px;
    }
    .link{
        font-size: 16px;
    }
}
@media only screen and (max-width: 768px) {
    * {
        font-size: 12px;
        padding: 5px;
    }
    .my-nav {
        display: block;
    }
    .my-content {
        padding: 8px;
    }
    .my-link li a i {
        border-radius: 5px;
        font-size: 24px;
    }
    .my-footer {
        display: block;
    }
}