            * {
                font-family: 'Noto Serif TC', serif;
                font-weight: 400;
            }
            
            .header-logo {
                /* The image used */
                background-image: url('images/logo.png');
                /* Full height */
                height: 40px;
                /* Center and scale the image nicely */
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                opacity: 0.99;
            }
            
            .footer-logo {
                /* The image used */
                background-image: url('images/logo.png');
                /* Full height */
                height: 100px;
                /* Center and scale the image nicely */
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                opacity: 0.99;
            }
            
            .background-image {
                /* The image used */
                background-image: url('images/bg.jpg');
                /* Full height */
                min-height: 500px;
                /* Center and scale the image nicely */
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                opacity: 0.99;
            }
            
            .background-image-overlay {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                opacity: 0.5;
                background-color: rgb(25, 25, 25);
                transition: .5s ease;
            }
            
            .background-text {
                position: absolute;
                top: 40%;
                left: 50%;
                width: 90%;
                text-align: center;
                transform: translate(-50%, -50%);
            }
            
            .image-container {
                margin: auto;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
            .image {
                margin: auto;
                width: 80%;
                max-height: 60vh;
                height: auto;
                object-fit: cover;
            }
            
            .my-container {
                margin: 10vh auto;
            }
            
            .show-if-mobile {
                display: none;
            }
            
            @media only screen and (max-width: 768px) {
                .background-text {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 90%;
                    text-align: center;
                    transform: translate(-50%, -50%);
                }
                .hidden-if-mobile {
                    display: none;
                }
                .show-if-mobile {
                    display: flex;
                }
                .add-bottom-margin-if-mobile {
                    margin-bottom: 10vh;
                }
            }