* {
    font-family: 'Noto Serif TC', serif;
    font-weight: 400;
    font-size: 16px;
    padding: 10px;
}

body::-webkit-scrollbar {
    display: none;
}
body{
    -ms-overflow-style: none;
}
.test {
    border: 1px solid black;
}

.my-nav {
    display: flex;
}

.my-nav li {
    display: inline-block;
}

.my-nav li a {
    border-radius: 10px;
    color: black;
}

.my-content {
    padding: 16px;
}

.my-content h4 {
    opacity: 0.9;
}

.my-link {
    display: flex;
}

.my-link li {
    display: inline-block;
}

.my-link li a i {
    border-radius: 10px;
    font-size: 36px;
    color: black;
}

.my-link li a i:hover {
    background-color: black;
    color: whitesmoke;
}

.my-footer {
    display: flex;
}

.add-bottom-line {
    border-top: 5px solid black;
}
.add-thin-bottom-line{
    border-top: 1px solid LightGray;
}
.image {
    max-width: 100%;
}

@media only screen and (max-width: 768px) {
    * {
        font-size: 12px;
        padding: 5px;
    }
    .my-nav {
        display: block;
    }
    .my-content {
        padding: 8px;
    }
    .my-link li a i {
        border-radius: 5px;
        font-size: 24px;
    }
    .my-footer {
        display: block;
    }
}